[submodule "Docs"]
	path = Docs
	url = https://github.com/SandipGhimire/Nepali-Date-Library-Docs.git
[submodule "NodeJS"]
	path = NodeJS
	url = https://github.com/SandipGhimire/Nepali-Date-Library-NodeJS.git
[submodule "Python"]
	path = Python
	url = https://github.com/SandipGhimire/Nepali-Date-Library-Python.git
[submodule "PHP"]
	path = PHP
	url = https://github.com/SandipGhimire/Nepali-Date-Library-PHP.git
